<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/styles/style.css">
  
  <main class="flex flex-col min-h-screen grow">
    <%- include('../partials/head', {User: User}); %>
    <div class="mx-auto container">
      <h1>Den Søde Tand</h1>
      <p>Velkommen til vores hjemmeside. Venligst login for at se vores udvalg!</p>
  </div>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</html>