<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/styles/style.css">
<head>
  <%- include('../partials/head', {profile_img: profile_img}); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>
<main>
    <div class="mx-auto container">
      <h1>Den Søde Tand</h1>
      <p>Velkommen til vores hjemmeside</p>
  </div>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</html>