<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/styles/style.css">

<head>
    <%- include('../partials/head', {User: User}); %>
</head>

<main class="flex flex-col min-h-screen">
    <!-- Create a grid of products -->
    <div class="grid grid-cols-4 gap-4 pl-5">
        <% products.forEach(function(product) { %>
            <%- include('../partials/product', {product: product}); %>
        <% }); %>
    </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>